/* ---- blog module ---- */

h1, h2 {
  // Improve heading style for blog

  a {
    color: $headings-color;
    text-decoration: none;
  }

  &:hover {
    color: $headings-color;
  }
}

form.comments-form {
  @include media-sm-up {
    // Half width for inputs
    input.form-control {
      width: 50%;
    }
  }
}
