/* ---- blog module ---- */

article {
  h1, h2 {
    // Improve heading style for blog
    a {
      color: $headings-color;
      text-decoration: none;

      &:hover {
        color: $headings-color;
      }
    }
  }

  .entry-excerpt {
    picture img {
      margin-bottom: spacer(1);
    }
  }

  figure a {
    display: inline-block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    img {
      transition: transform 0.2s $ease-in-out-quad;
    }

    &:hover img {
      transform: perspective(1px) scale(1.03);
    }
  }
}

$avatar-width: 64px;
$avatar-margin: spacer(3);

.comment-item {
  img.user-image {
    border-radius: 50%;
    margin-right: spacer(3);
    max-width: $avatar-width !important;  // 128px original
    height: auto !important;
  }

  h4 {
    font-size: $font-size-base;
    border-bottom: 1px solid $gray-300;
    padding: spacer(2);
  }

  .comment-text,
  .comment-tools {
    margin: spacer(2);
  }

  .comment-tools {
    display: flex;
    justify-content: space-between;
    line-height: $font-size-base;
  }

  .comment-reply-link {
    align-self: flex-start;
  }

  .comment-author-flag {
    font-size: $font-size-sm;
  }

  .comment-date {
    align-self: flex-end;
    font-size: $font-size-sm;
  }

  //&.by-author {
  //  .media-body {
  //    background-color: $gray-100;
  //  }
  //}

  form {
    margin-top: spacer(3);
    margin-left: $avatar-width;
    padding-left: $avatar-margin;
  }
}

#comment-preview {
  padding: spacer(2);
  background-color: $gray-100;
  border-radius: 1rem;

  .media {
    padding-left: 0.5rem;
  }

  h3 {
    font-size: $font-size-lg;
    margin-top: 0.3rem;
  }
}

#comments-wrapper {
  > h3 {
    margin: spacer(5) 0 spacer(4);
  }

  ul.comment-list-wrapper ul.comment-list-wrapper {
    margin: spacer(3) 0 spacer(1) ($avatar-width / 2);
    padding-left: $avatar-margin;
  }
}
