apiVersion: v1
kind: Secret
metadata:
  name: fluentdemo-env-prd
type: Opaque
data:
  #DATABASE_URL: "postgres://user:pass@hostname/dbname"
  #DJANGO_SECRET_KEY: "c3#r=h50=zuea%=0-9mx@gf2l0*m^yhmy_hi_0-oc98+1by2so"
  #GEOPOSITION_GOOGLE_MAPS_API_KEY: ""
  #SENTRY_DSN: ""
