{% load mptt_tags %}{% if menu_items %}
<ul class="{% block ul_class %}nav navbar-nav{% endblock %}">
  {% recursetree menu_items %}{# node is a Page #}
  <li class="nav-item{% if node.is_active or node.is_child_active %} active{% endif %}{% if node.is_last_child %} last{% endif %}">
    {% if children %}
      <a href="{{ node.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.title }}</a>
      <ul class="dropdown-menu">{{ children }}</ul>
    {% else %}
      <a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
    {% endif %}
  </li>{% endrecursetree %}
</ul>
{% else %}
<!-- No menu items returned -->
{% endif %}
